.navbar {
    position: fixed;
    top: 50px;
    left: 0;
    right: 0;

    margin: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;

    user-select: none;
}

.navbar__item {
    display: inline-block;
}

.navbar__about {
    cursor: none;
}

.navbar__title {
    position: relative;

    margin-right: 70px;

    .navbar-item__after {
        position: absolute;
        left: calc(100% + 16px);
        top: 53%;

        width: 40px;
        height: 1.4px;

        background-color: black;
    }
}