.scroll-indicator {
    position: fixed;
    bottom: 50px;
    left: 0;
    right: 0;

    width: 100%;
    margin: auto;

    display: flex;
    align-items: center;
}

.scroll-indicator__canvas-container {
    position: relative;

    width: 18px;
    height: 18px;
}

.scroll-indicator-fill {
    position: absolute;
    left: 0;
    top: 0;

    transform: rotate(-90deg);
}

.scroll-indicator__copy {
    margin-left: 15px;

    font-size: 11px;
}