body {
    font-family: 'Poppins';
}

.heading {
    margin: 0;

    font-family: 'Schnyder Cond L';
    font-weight: 300;
    font-style: normal; 
    font-size: 270px;
    text-transform: uppercase;
    line-height: .77em;
    margin: 0; 
}

.paragraph {
    margin: 0;
    
    font-family: 'Poppins';
    font-size: 18px; 
}

.paragraph-secondary {
    margin: 0;
    
    font-family: 'Poppins';
    font-size: 14px; 
    font-weight: 400;
}
